.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 34px;
  font-weight: 900;
  /* display: flex; */
  justify-content: center;
  align-items: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.highlight {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 34px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-9));

}

.card:hover,
.card:focus {
  scale: 1.03;
  /* box-shadow: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) */
  box-shadow: 0 4px 20px rgba(79, 172, 254, 0.5); /* Subtle blue glow */

  /* Mobile-specific adjustments for focus */
@media (max-width: $mantine-breakpoint-sm) {
  .card:focus {
    transform: translateY(-5px); /* Slightly less aggressive lift on mobile */
    box-shadow: 0 4px 15px rgba(79, 172, 254, 0.4); /* Adjusted shadow intensity */
  }
}
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}
