.card {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-9)) !important;
  margin: 2rem;
  box-shadow:
    0 4px 15px rgba(0, 143, 232, 0.9),
    /* Blue glow */ 0 8px 30px rgba(0, 196, 255, 0.9); /* Subtle spread effect */
}

.card:nth-child(2) {
  transform: scale(1.2) scaleY(1.2);
  box-shadow:
    0 4px 20px rgba(255, 215, 0, 0.7),
    /* Soft gold glow */ 0 0 10px rgba(255, 223, 0, 0.8); /* Inner golden highlight */
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}

.outterContainer {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-height: 120vh;
}

.rain {
  position: absolute;
  z-index: -1;
  height: 50%;
  max-height: 50%;
  min-width: 100%;
  object-fit: cover;
  max-width: 100%;
  /* Mobile-specific adjustments for focus */
  @media (max-width: $mantine-breakpoint-sm) {
    /* display: none; */
  }
}

.rain2 {
  position: absolute;
  z-index: -1;
  height: 50%;
  min-width: 100%;
  max-width: 100%;
  transform: scaleY(-1);
  bottom: 0;
  object-fit: cover;
  /* Mobile-specific adjustments for focus */
  @media (max-width: $mantine-breakpoint-sm) {
    /* display: none; */
  }
}

.under {
  position: relative;
  min-width: 100vw;
  height: 100%;
}

.valueBadge {
  background: linear-gradient(90deg, #6a5af9, #32d3fd); /* Modern gradient */
  color: white; /* Clean and readable */
  font-weight: bold;
  font-size: 0.85rem; /* Slightly smaller for subtlety */
  text-transform: uppercase;
  padding: 0.3rem 0.6rem;
  border-radius: 16px; /* Rounded for a tag-like feel */
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
  animation: glow 3s infinite; /* Optional: Subtle glowing effect */
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px rgba(101, 157, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 12px rgba(101, 157, 255, 1);
  }
}
