.card {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-9)) !important;
  height: 450px;
  width: 300px;
  padding: 16px;
  box-shadow:
    0 4px 15px rgba(0, 143, 232, 0.9),
    /* Blue glow */ 0 8px 30px rgba(0, 196, 255, 0.9); /* Subtle spread effect */
}

.card:nth-child(2) {
  height: 700px;
  width: 400px;
  box-shadow:
    0 4px 20px rgba(255, 215, 0, 0.7),
    /* Soft gold glow */ 0 0 10px rgba(255, 223, 0, 0.8); /* Inner golden highlight */
  @media (max-width: $mantine-breakpoint-md) {
    height: 400px;
  }
}

.grid {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.outter {
  width: 100vw;
  max-width: 95vw;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.under {
  position: relative;
  min-width: 100vw;
  height: 100%;
}

.valueBadge {
  cursor: default;
  position: absolute;
  background: linear-gradient(90deg, #6a5af9, #32d3fd); /* Modern gradient */
  color: white; /* Clean and readable */
  font-weight: bold;
  font-size: 0.85rem; /* Slightly smaller for subtlety */
  padding: 0.3rem 0.6rem;
  border-radius: 10px; /* Rounded for a tag-like feel */
  top: 1rem;
  right: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
  animation: glow 3s infinite; /* Optional: Subtle glowing effect */
}

.titleContainer {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.cardTitle {
  font-size: var(--mantine-h2-font-size);
  align-self: start;
}

.cardPrice {
  font-size: var(--mantine-font-size-sm);
  align-self: end;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 8px rgba(101, 157, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 12px rgba(101, 157, 255, 1);
  }
}
