.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 44px;
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.highlight {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: 34px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 24px;
  }
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.card {
  border: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-9));
}

.callToAction {
  background-color: orange;
}

.card:hover,
.card:focus {
  scale: 1.03;
  /* box-shadow: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)) */
  box-shadow: 0 4px 20px rgba(79, 172, 254, 0.5); /* Subtle blue glow */

  box-shadow:
    0 4px 15px rgba(255, 255, 255, 0.6),
    /* White glow for contrast */ 0 8px 30px rgba(79, 172, 254, 0.9); /* Subtle blue for continuity */

  /* Mobile-specific adjustments for focus */
  @media (max-width: $mantine-breakpoint-sm) {
    .card:focus {
      transform: translateY(-5px); /* Slightly less aggressive lift on mobile */
      box-shadow: 0 4px 15px rgba(79, 172, 254, 0.4); /* Adjusted shadow intensity */
    }
  }
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}

.outterContainer {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-height: 120vh;
}

.rain {
  position: absolute;
  z-index: -1;
  height: 50%;
  max-height: 50%;
  min-width: 100%;
  object-fit: cover;
  max-width: 100%;
  /* Mobile-specific adjustments for focus */
  @media (max-width: $mantine-breakpoint-sm) {
    /* display: none; */
  }
}

.rain2 {
  position: absolute;
  z-index: -1;
  height: 50%;
  min-width: 100%;
  max-width: 100%;
  transform: scaleY(-1);
  bottom: 0;
  object-fit: cover;
  /* Mobile-specific adjustments for focus */
  @media (max-width: $mantine-breakpoint-sm) {
    /* display: none; */
  }
}

.under {
  position: relative;
  min-width: 100vw;
  height: 100%;
}
